.outputTable,
table,
tr,
td,
th {
	border: 1px solid white;
	border-collapse: collapse;
	padding: 0px;
}

.pageContainer {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.form {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	margin-bottom: 30px;
}

.form input {
	margin-bottom: 10px;
}

button {
	background-color: maroon;
	border-radius: 5px;
	height: 30px;
	border: none;
	color: white;
}

button:hover {
	cursor: pointer;
}

button:focus {
	border: none;
}

.pageColumn {
	display: flex;
	justify-content: center;
}

.goodVelocity {
	background-color: green;
}

.badVelocity {
	background-color: red;
}

h1 {
	display: flex;
	justify-content: center;
}

.pageBackground {
	width: 100vw;
	height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	background-color: #252525;
	color: white;
}

@media only screen and (max-width: 445px) {
	.pageContainer {
		grid-template-columns: repeat(1, 1fr);
	}
}

@media only screen and (min-width: 445px) {
	.pageContainer {
		grid-template-columns: repeat(2, 1fr);
	}
}
